 <div (window:resize)="onResize($event)" class="bs-docs-header" id="content" tabindex="-1">
    <div class="container">
      <div [hidden]="isLarge" style="float: left;margin-right: 20px; margin-top: 57px;">
        <button md-icon-button (click)="toggleSideNav()"  >
          <md-icon >menu</md-icon>
        </button>
      </div>

      <div style="float: left; margin-right:30px; ">
        <img src="assets/images/LogoGHI.png"/>
      </div>
      <h1>{{title}}</h1>
      <p>Bienvenue sur l'outil de consolidation de la base collaborateurs Guy Hoquet.<br/>
        Merci de saisir la liste exhaustive des collaborateurs de votre agence.</p>
      <div id="carbonads-container">
        <div class="carbonad">
        <div id="azcarbon">

        </div>
      </div>
      </div>
    </div>
  </div>
