<h1 class="page-header" id="overview">Manageurs</h1>
<p-dataTable [value]="managers" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-column field="name" header="Nom" [editable]="true"  [sortable]="true"> </p-column>
    <p-column field="phone" header="Téléphone" [editable]="true"  [sortable]="true"></p-column>
    <p-column field="mail" header="Mail" [editable]="true"  [sortable]="true"></p-column>
    <p-column field="address" header="Adresse" [editable]="true"  [sortable]="true"></p-column>
    <p-column field="hasValidList" header="Liste validée" [editable]="true" [sortable]="true">
       <template let-col let-manager="rowData" pTemplate="body">
         <div style="text-align:center">
          <i class="fa fa-times fa-2x text-danger" [hidden]="manager.hasValidList"></i>
          <i class="fa fa-check fa-2x text-success" [hidden]="!manager.hasValidList"></i>
         </div>
      </template>
    </p-column>
    <p-column field="address" header="Mail envoyé" [editable]="true"  [sortable]="true">
      <template let-col let-manager="rowData" pTemplate="body">
        <div style="text-align:center">
        <span class="text-success" [hidden]="!manager.token">Oui</span>
        <span class="text-danger" [hidden]="manager.token">Non</span>
        </div>
      </template>
    </p-column>
    <p-column  header="">
      <template let-col let-manager="rowData" pTemplate="body">
        <button pButton icon="fa-send" iconPos="left" (click)="sendMail(manager)"></button>
      </template>
    </p-column>
</p-dataTable>
<br />
<button pButton  class="ui-button-default" type="button" (click)="sendMails()" icon="fa-send" iconPos="left" label="Envoyer les mails aux personnes n'ayant pas validées leur liste de collaborateurs"></button>

<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Non" (click)="cd.reject()"></button>
        <button type="button" pButton icon="{{load ? 'fa-spin fa-circle-o-notch' : 'fa-check'}}" label="Oui" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>
