
.bs-docs-header h1 {
  margin-top: 0;
  color: #fff;
}
.bs-docs-header p {
  margin-bottom: 0;
  font-weight: 300;
  line-height: 1.4;
}
.bs-docs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .bs-docs-header {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 24px;
    text-align: left;
  }
  .bs-docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-docs-header h1,
  .bs-docs-header p {
    margin-right: 380px;
  }
}

.bs-docs-header, .bs-docs-masthead {
    position: relative;
    padding: 30px 0;
    color: #A5B5E0;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #324E99;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1B3785),to(#324E99));
    background-image: -webkit-linear-gradient(top,#1B3785 0,#324E99 100%);
    background-image: -o-linear-gradient(top,#1B3785 0,#324E99 100%);
    background-image: linear-gradient(to bottom,#1B3785 0,#324E99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1B3785', endColorstr='#324E99', GradientType=0);
    background-repeat: repeat-x;
}
