<h1 class="page-header" id="overview">Collaborateurs</h1>
<form (ngSubmit)="validateList()">
  <table class="table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Fonction</th>
        <th>Mail</th>
        <th>Téléphone</th>
        <th></th>
      </tr>
    </thead>

    <tr *ngFor="let collaborater of collaboraters; let i = index" [attr.data-index]="i">
      <td><input type="text" pInputText required name="collaborater[{{i}}][lastName]" [(ngModel)]="collaborater.lastName" /></td>
      <td><input type="text" pInputText required name="collaborater[{{i}}][firstName]" [(ngModel)]="collaborater.firstName" /></td>
      <td><p-calendar required name="collaborater[{{i}}][birthDate]" [(ngModel)]="collaborater.birthDate"></p-calendar></td>
      <td><input type="text" pInputText required name="collaborater[{{i}}][job]" [(ngModel)]="collaborater.job" /></td>
      <td><input type="text" pInputText required name="collaborater[{{i}}][email]" [(ngModel)]="collaborater.email" /></td>
      <td>
        <p-inputMask  pInputText required name="collaborater[{{i}}][phone]" [(ngModel)]="collaborater.phone" mask="99 99 99 99 99"></p-inputMask>
      </td>
      <td><button pButton type="button" icon="fa-times" iconPos="left" (click)="removeCollaborater(collaborater)" label="Supprimer"></button></td>

    </tr>
  </table>
  <button pButton type="submit" icon="fa-check" iconPos="left" label="Valider ma liste"></button>
  <button pButton type="button" icon="fa-plus" iconPos="left"  (click)="addCollaborater()" label="Ajouter un collaborateur"></button>
</form>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="Non" (click)="cd.reject()"></button>
        <button type="button" pButton icon="{{load ? 'fa-spin fa-circle-o-notch' : 'fa-check'}}" label="Oui" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<!--<p-dataTable [value]="collaboraters" [editable]="true" (onEditComplete)="onEditComplete($event)">
    <p-column field="firstName" header="Prénom" [editable]="true">

    </p-column>
    <p-column field="lastName" header="Nom" [editable]="true"></p-column>

    <p-column field="birthDate" header="Date de naissance" [editable]="true"  [style]=" {'overflow':'visible' }">

      <template let-col let-collaborater="rowData" pTemplate="body">
        {{collaborater[col.field]|date: 'dd/MM/yyyy'}}
      </template>
      <template let-col let-collaborater="rowData" pTemplate="editor">
          <p-calendar [(ngModel)]="collaborater[col.field]" pattern="dd/MM/yyyy" [locale]="fr" ></p-calendar>
      </template>
    </p-column>



    <p-column field="job" header="Fonction" [editable]="true"></p-column>
    <p-column field="email" header="E-mail" [editable]="true">

    </p-column>
    <p-column field="phone" header="Téléphone" [editable]="true"></p-column>
</p-dataTable>-->

