
<md-sidenav-container>
 <md-sidenav #sidenav  mode="side" opened="true">
    <nav class="side-style">
      <div class="account-container">
          <img src="assets/images/user.jpg"/>
      </div>
      <ul>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="/agencies/testtoken" class="">
            Agences
          </a>
        </li>
        <li>
          <a routerlinkactive="docs-component-viewer-sidenav-item-selected" routerLink="/settings/testtoken" class="">
            Imports
          </a>
          </li>
      </ul>

    </nav>
  </md-sidenav>

  <div class="my-content">

    <app-header [title]="'Guy Hoquet'" [nav]="sidenav"></app-header>
    <div class="container">
        <md-card>
            <md-card-title>
              Upload agences
            </md-card-title>
            <md-card-content>
                <p-fileUpload name="agenciesUpload" url="http://localhost:8000/api/uploadAgencies" accept="csv/*"></p-fileUpload>
            </md-card-content>
        </md-card>
        <br />
        <md-card>
            <md-card-title>Upload collaborateurs</md-card-title>
            <md-card-content>
              <p-fileUpload name="collaboratorsUpload" url="http://localhost:8000/api/uploadCollaborators" accept="csv/*"></p-fileUpload>
            </md-card-content>
        </md-card>
    </div>
  </div>
</md-sidenav-container>
